* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    border: 7px solid rgb(0, 127, 0);
    border-radius: 25px;
    color: rgb(0, 67, 0);
    
}

header div {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header div span:nth-child(1) {
    transition: color 0.5s ease-out;
}
header div span:nth-child(2) {
    transition: color 1s ease-out;
}
header:hover div span:nth-child(1) {
    color: blue;
    transition: color 0.5s ease-in;
}
header:hover div span:nth-child(2) {
    color: green;
    transition: color 1s ease-in;
}

.logo {
    position: relative;
    bottom: 3px;
    width: 60px;
    aspect-ratio: 1/1;
}
.logo + h1 {
    font-size: 60px;
    font-weight: bold;
}
header p {
    font-size: 24px;
    font-weight: bold;
}

main {
}

section {
    padding: 7px;
    margin: 15px;
}
h2 {
    font-size: 30px;
    margin: 10px;
}
section p {
    font-size: 15px;
}

.gallery {
    font-size: 15px;
}

figure {
    padding: 7px;
}
img {
    width: 150px;
    height: auto;
    transition: width 0.5s ease-out, height 0.5s ease-out;
}
img:hover {
    width: 100%;
    height: auto;
    transition: width 0.5s ease-in, height 0.5s ease-in;
}

footer {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}
footer h3 {
}
footer p {
}
