* {
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
}
header {
  margin: 25px;
  padding: 25px;
  border: 15px solid rgba(0,255,0.5);
  border-radius: 25px;
  color: rgb(0,100,0);
  background-color: white;
}
header h1 {
  font-size: 18vw;
  font-weight: bold;
}
header p {
  font-size: 8vw;
  font-weight: bold;
}

main {
}

section {
  padding: 15px;
  margin: 15px;
}
h2 {
  font-size: 8vw;
  margin: 10px;
}
section p {
  font-size: 3vw;
}

section ~ h2 {

}

.gallery {
}

figure {
}
img {
  width: 75vw;
  height: auto;
}

footer {
  font-size: 4vw;
  display: flex;
  flex-direction: row;
  padding: 15px
  margin: 15px;
}
footer h3 {
  
}
footer p {
  
}
